/**********************************************************
 *  JaDe/public/css/menu.css                              *
 **********************************************************
 */

    .menu {
        position: absolute;
        flex-direction: column;
        left: 3px;
        width: auto;
        height: auto;
        bottom: 40px;
        background-color: rgba(0, 0, 0, 0.1);
        min-width: 240px;
        max-width: 300px;
        max-height: calc(100vh - 80px);
        padding: 6px;
        display: none;
        z-index: 2;
        user-select: none;
        border-radius: 8px 8px 0px 0px;
        overflow: hidden;
    }

        .menu_option {
            position: relative;
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 36px;
            color: #FFF;
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            margin-top: 2px;
            border-radius: 4px;
        }


    .menu_option:hover {
        color: #1AFA6A;
    }