/**********************************************************
 *  JaDe/public/css/footer.css                            *
 **********************************************************
 */

    .taskbar {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        left: 0px;
        width: 100%;
        height: 40px;
        bottom: 0px;
        padding: 3px;
        background-color: #AAA;
        z-index: 3;
        user-select: none;
        font-family: "Rethink Sans", sans-serif;
    }

        .start, .tasks, .clock {
            position: relative;
            float: left;
            width: auto;
            height: 100%;
            background-color: none;
        }

        .start {
            min-width: 80px;
            display: inherit;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #FFF;
            font-size: 14px;
            font-weight: bold;
            background-color: #000;
            cursor: pointer;
        }

            .start:hover {
                color: #1AFA6A;
            }
            

        .tasks {
            width: 100%;
            margin: 0px 3px;
        }

            .task {
                position: relative;
                float: left;
                margin-left: 0px;
                margin-right: 6px;
                top: 3px;
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                /* height: 100%; */
                height: 29px;
                max-width: 220px;
                color: #FFF;
                background-color: rgba(0, 0, 0, 0.25);
                border-radius: 14px;
                padding: 0px 12px;
                border: solid 1px #FFF;
                cursor: pointer;
            }

            .task:hover {
                top: 4px;
                margin-left: 1px;
                color: #1AFA6A;
                text-shadow: 1px 1px 1px #3AFF9A;
                box-shadow: 1px 1px 1px #3AFF9A;
            }
            

        .clock {
            width: auto;
            display: inherit;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-family: "Nova Square", sans-serif;
            background-color: #000;
        }

            .clock_digits {
                position: relative;
                float: left;
                width: auto;
                min-width: 32px;
                height: auto;
                font-size: 20px;
            }

                .clock_digits:nth-child(odd) {
                    text-align: center;
                }

                .clock_digits:first-child {
                    text-align: center;
                }

                .clock_digits:last-child {
                    text-align: center;
                }

            .clock_separator {
                position: relative;
                float: left;
                width: 8px;
                height: auto;
                font-size: 20px;
            }
